    // variables


    $primary: #6D0013 !important;
    $secondary: #1E3A58 !important;
    $ternary: #1E3A58 !important;
    $white: #fff;


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }



    @font-face {
        font-family: "Essai";
        src: url('../fonts/Essai.ttf');
    }


    @font-face {
        font-family: "taylor-light";
        src: url('../fonts/TaylorLight.woff');
    }

    @font-face {
        font-family: "taylor-bold";
        src: url('../fonts/TaylorBold.ttf');
    }


    .text-justify {
        text-align: justify;
    }

    .taylor-bold {
        font-family: "taylor-bold";
        font-weight: 700;
    }

    .bg-light-theme {
        background: #E6E6E6;
    }


    a {
        text-decoration: none;
    }

    // needable  classes 

    .txt-primary {
        color: $primary ;
    }

    .txt-secondary {
        color: $secondary;
    }

    .txt-ternary {
        color: $ternary;
    }

    .font-essai {
        font-family: "Essai";
    }

    .bg-primary-theme {
        background: $primary;
    }

    .bg-secondary {
        background: $secondary;
    }

    .bg-ternary {
        background: $ternary;
    }

    .theme-para {
        font-size: 17px;
        line-height: 28px;
    }


    body {
        font-family: "taylor-light";

    }

    .view-map {
        background: #3eb900;
        padding: 10px 15px;
        border-radius: 25px;
        color: #fff;
        font-weight: 600;
    }

    .order-title {
        color: #640813 !important;
        font-weight: 700;
        font-size: 1.9rem;
    }

    .inner-order {
        background: #640813 !important;
        padding: 35px
    }

    .inner-order form .form-group .form-control::-moz-placeholder {
        color: #640813 !important
    }

    .inner-order form .form-group .form-control::placeholder {
        color: #640813 !important
    }

    .inner-order form .form-group .form-control:focus {
        box-shadow: none
    }

    .btn-submit {
        padding: 11px;
        border-radius: 42px;
        color: #640813 !important;
        text-align: center;
        display: inline-block;
        border: 0;
        width: 151px;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-family: 'essai';
    }

    .btn-submit:hover {
        background: #870c1b !important;
        color: #fff !important;
    }

    .inner-order form input[type=checkbox] {
        height: 25px;
        width: 25px;
        margin-right: 7px;
        cursor: pointer;
        vertical-align: bottom
    }

    .inner-order form label {
        cursor: pointer
    }

    .help {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: 'essai';
    }

    .list-icon {
        li {
            list-style-image: url(../images/checkmark.png);

            span {
                position: relative;
                top: -6px;
                color: $primary;
                font-weight: bold;
            }
        }
    }

    //   navbar css

    .site-header {
        background: $primary;
        border-bottom: 2px solid $white;

        .navbar-brand {
            img {
                @media(max-width:375px) {
                    width: 200px;
                }
            }
        }

        .navCustom {
            .nav-item {
                .nav-link {
                    margin-right: 0;
                    font-size: 20px;
                    color: $white !important;
                    padding: 8px 18px;
                    margin: 0 2px;
                    text-transform: uppercase;
                    font-family: "taylor-light";
                    border-radius: 5px;

                    @media(max-width:1024px) {
                        font-size: 14px;
                    }

                    &:hover {
                        font-weight: bold;
                        color: $white;
                    }

                    &.active {
                        color: $primary;
                        font-weight: bold;
                        background-color: $white;

                    }
                }

                .dropdown-item {
                    &:hover {
                        background-color: $primary ;
                        color: $white;
                    }

                    &.active {
                        background-color: $primary;
                        color: $white;
                    }
                }


            }
        }
    }

    .form-control {
        font-family: 'essai';
    }

    .btn-rounded {
        color: #000;
        font-size: 13px;
        font-family: montserrat, sans-serif;
        text-transform: uppercase;
        padding: 15px 40px;
        letter-spacing: 1px;
        background: #fff;
        font-weight: 700;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        border-radius: 25px;

        &:hover {
            color: $primary;
        }

        &.bg-primary {
            background: $primary;
            color: $white !important;

            &:hover {
                color: $white !important;
                box-shadow: 0 10px 15px #efbdad;
            }
        }


    }


    //banner section 


    .banner-section {

        height: 82vh;
        background: url(../images/banner.jpg);
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .inner-content {
            max-width: 70%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .banner-title {
                font-size: 3rem;
                font-family: "taylor-bold";
                color: #fff;
                display: block;
                -webkit-text-stroke: 2px black;
                text-align: center;
                text-shadow: 1px 3px 4px black;

                @media (max-width:768px) {
                    font-size: 44px;
                    line-height: 1.1;
                }
            }

            .sub-title {
                text-transform: uppercase;
                font-size: 2.5rem;
                font-family: "taylor-bold";
                color: #fff;
                display: block;
                -webkit-text-stroke: 2px black;
                text-shadow: 1px 3px 4px black;
                text-align: center;

                @media (max-width:768px) {
                    font-size: 30px;
                    line-height: 1.1;
                }
            }
        }

    }


    .volunteer-list .box-container {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        gap: 15px;
        margin: 50px 5px;
    }




    .volunteer-list .box-container .items {
        width: 100%;
        background: #242424;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
        transition: all 0.4s ease;
        border: 1px solid #ff0013;
        overflow: hidden;
        font-family: sans-serif;

        &:hover {
            .bottom {
                background: $white ;

                .decription {
                    color: #000 !important;
                }
            }
        }
    }

    .volunteer-list .box-container .items .item-box img {
        height: 330px;
        object-fit: cover;
        width: 100%;
        border: 4px solid red;
    }

    .volunteer-list .box-container .items .bottom {
        padding: 20px 15px;
        height: 100%;
        transition: all 0.4s ease;
        background: black;

    }

    .volunteer-list .box-container .items .bottom {

        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .volunteer-list .box-container .items .bottom .title {
        font-size: 2.2rem;
        color: red;
        line-height: 1.1;
        font-weight: bold;
    }

    .volunteer-list .box-container .items .bottom .decription {
        font-size: 1.7rem;
        color: #fff;
        line-height: 1.2;
        font-weight: bold;
    }

    .volunteer-list .box-container .items a {
        height: 100%;
        display: flex;
    }

    .volunteer-list .box-container .items .item-box {
        height: 330px;
        overflow: hidden;
        flex: 2;

    }

    @media (max-width: 992px) {
        .volunteer-list .box-container .items a {
            flex-direction: column;
        }
    }

    //another

    .another {
        background: darken(#770015, 7%);
        border-top: 1px solid $white;
        border-bottom: 3px solid $white;

        .gallery {

            //    @media(max-width:650px){
            //     overflow-x: hidden;
            //     overflow-y: auto;
            //    }
            img {
                border: 4px double $white;
            }
        }
    }

    .about-gallery {
        img {
            border: 5px double #4c4c4c;
            filter: grayscale(1);

            &:hover {
                filter: unset;
            }
        }
    }

    // site Footer 

    footer {
        background: $primary;
        font-family: "taylor-light";
        color: $white;
        border-top: 2px solid #fff;

        a {
            color: $white !important;
        }
    }

    //  Slick slider css


    .slick-track {
        padding: 10px 0;
    }

    .slick-next {
        height: 35px !important;
        width: 35px !important;

        // &:hover {
        //     background: $secondary;
        // }
    }


    .slick-prev {
        height: 35px !important;
        width: 35px !important;

        // &:hover {
        //     background: $secondary;
        // }
    }

    .slick-dots li button {
        background: lightgrey !important;

        &:before {
            opacity: 0 !important;
        }
    }

    .slick-dots {
        li {
            &.slick-active {
                button {
                    background: $primary ;

                }
            }
        }
    }

    .carousel-indicators {
        bottom: 15px;

        button {
            height: 10px !important;
            width: 10px !important;
            border-radius: 50%;
            border: 2px solid #fff !important;

        }
    }

    //  Button classes

    .btn-theme {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 400;
        color: $white;
        padding: 7px 18px;
        -webkit-transition: all 0.3s ease-in;
        -webkit-transition: 0.3s ease-in;
        -webkit-transition: 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        text-decoration: none;
        font-family: 'poppins-medium';
        border: 2px solid $white;
        border-radius: 0;
        font-weight: bold;

        &:hover {
            background: $white;
            color: $primary;
        }
    }


    .contact {
        background: url(../images/ban3.jpg);
        background-size: 100% 100%;

        .form-control{
            font-family: ui-sans-serif;
            font-style: italic;
            border: 1px solid transparent!important;
            &:focus{
                border: 1px solid #6D0014!important;
                box-shadow: none;
            }
        }
        textarea{
            font-family: ui-sans-serif;
            font-style: italic;
            border: 1px solid transparent!important;
            &:focus{
                border: 1px solid #6D0014!important;
                box-shadow: none;
            }
        }
    }