* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "taylor-light";
  src: url("../fonts/TaylorLight.woff");
}
@font-face {
  font-family: "taylor-bold";
  src: url("../fonts/TaylorBold.woff");
}
.text-justify {
  text-align: justify;
}

.taylor-bold {
  font-family: "taylor-bold";
}

.bg-light-theme {
  background: #E6E6E6;
}

a {
  text-decoration: none;
}

.txt-primary {
  color: #6D0013 !important !important;
}

.txt-secondary {
  color: #1E3A58 !important;
}

.txt-ternary {
  color: #1E3A58 !important;
}

.bg-primary-theme {
  background: #6D0013 !important;
}

.bg-secondary {
  background: #1E3A58 !important;
}

.bg-ternary {
  background: #1E3A58 !important;
}

.theme-para {
  font-size: 17px;
  line-height: 28px;
}

body {
  font-family: "taylor-light";
}

.list-icon li {
  list-style-image: url(../images/checkmark.png);
}
.list-icon li span {
  position: relative;
  top: -6px;
  color: #6D0013 !important;
  font-weight: bold;
}

.site-header {
  background: #6D0013 !important;
  border-bottom: 2px solid #fff;
}
@media (max-width: 375px) {
  .site-header .navbar-brand img {
    width: 200px;
  }
}
.site-header .navCustom .nav-item .nav-link {
  margin-right: 0;
  font-size: 20px;
  color: #fff !important;
  padding: 8px 18px;
  margin: 0 2px;
  text-transform: uppercase;
  font-family: "taylor-light";
  border-radius: 5px;
}
@media (max-width: 1024px) {
  .site-header .navCustom .nav-item .nav-link {
    font-size: 14px;
  }
}
.site-header .navCustom .nav-item .nav-link:hover {
  font-weight: bold;
  color: #6D0013 !important;
  background-color: #fff;
}
.site-header .navCustom .nav-item .nav-link.active {
  color: #6D0013 !important;
  font-weight: bold;
  background-color: #fff;
}
.site-header .navCustom .nav-item .dropdown-item:hover {
  background-color: #6D0013 !important;
  color: #fff;
}
.site-header .navCustom .nav-item .dropdown-item.active {
  background-color: #6D0013 !important;
  color: #fff;
}

.btn-rounded {
  color: #000;
  font-size: 13px;
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  padding: 15px 40px;
  letter-spacing: 1px;
  background: #fff;
  font-weight: 700;
  border-radius: 25px;
}
.btn-rounded:hover {
  color: #6D0013 !important;
}

.banner-section {
  height: 82vh;
  background: url(../images/banner.jpg);
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-section .inner-content {
  max-width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner-section .inner-content .banner-title {
  font-size: 3rem;
  font-family: "taylor-bold";
  color: #fff;
  display: block;
  -webkit-text-stroke: 2px black;
  text-align: center;
  text-shadow: 1px 3px 4px black;
}
@media (max-width: 768px) {
  .banner-section .inner-content .banner-title {
    font-size: 44px;
    line-height: 1.1;
  }
}
.banner-section .inner-content .sub-title {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "taylor-bold";
  color: #fff;
  display: block;
  -webkit-text-stroke: 2px black;
  text-shadow: 1px 3px 4px black;
  text-align: center;
}
@media (max-width: 768px) {
  .banner-section .inner-content .sub-title {
    font-size: 30px;
    line-height: 1.1;
  }
}

.another {
  background: #53000f;
  border-top: 1px solid #fff;
  border-bottom: 3px solid #fff;
}
.another .gallery img {
  border: 4px double #fff;
}

.about-gallery img {
  border: 5px double #4c4c4c;
  filter: grayscale(1);
}
.about-gallery img:hover {
  filter: unset;
}

footer {
  background: #6D0013 !important;
  font-family: "taylor-light";
  color: #fff;
  border-top: 2px solid #fff;
}
footer a {
  color: #fff !important;
}

.slick-track {
  padding: 10px 0;
}

.slick-next {
  height: 35px !important;
  width: 35px !important;
}

.slick-prev {
  height: 35px !important;
  width: 35px !important;
}

.slick-dots li button {
  background: lightgrey !important;
}
.slick-dots li button:before {
  opacity: 0 !important;
}

.slick-dots li.slick-active button {
  background: #6D0013 !important;
}

.carousel-indicators {
  bottom: 15px;
}
.carousel-indicators button {
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
  border: 2px solid #fff !important;
}

.btn-theme {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding: 7px 18px;
  transition: all 0.2s ease-in;
  text-decoration: none;
  font-family: "poppins-medium";
  border: 2px solid #fff;
  border-radius: 0;
  font-weight: bold;
}
.btn-theme:hover {
  background: #fff;
  color: #6D0013 !important;
}/*# sourceMappingURL=app.css.map */